<footer>
    <div class="row">
        <div class="col-lg-4 footer-copyright">
            &copy; 2017 Blvd6 Salon
        </div>
        <div class="col-lg-4 footer-address">
            Blvd6 Salon: &nbsp; 1234 Main Street &nbsp; Sherman Oaks, CA 91411
        </div>
        <div class="col-lg-4 text-right">
            <a href="">
                <img src="../assets/images/youtube.png" alt="YouTube" class="social-media-icon">
            </a>
            <a href="">
                <img src="../assets/images/twitter.png" alt="Twitter" class="social-media-icon">
            </a>
            <a href="">
                <img src="../assets/images/instagram.png" alt="Instagram" class="social-media-icon">
            </a>
            <a href="">
                <img src="../assets/images/linkedin.png" alt="LinkedIn" class="social-media-icon">
            </a>
            <a href="">
                <img src="../assets/images/snapchat.png" alt="Snapchat" class="social-media-icon">
            </a>
            <a href="">
                <img src="../assets/images/facebook.png" alt="Facebook" class="social-media-icon">
            </a>
        </div>
    </div>
</footer>