<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 about-us">About Us!</h1>
        <p>Marianne Rimawi, formerly of Moi Salon, and Christopher Rey of Christopher Rey Salon, have joined forces to create a new, dynamic space together at Blvd 6 Salon!</p>
        <p>We at Blvd 6 Salon want to make a positive and lasting impression while bringing you the highest quality in hair services, professional products, and individual attention.</p>
        <p>By demonstrating healthy hair habits and setting achievable hair goals with the most professional hair care products, clients are well equipped to maintain long-lasting, lustrous locks at home.</p>
        <p>In addition, we're very proud to be a Green Circle Salon, participating in the most environmentally friendly salon practices in the world.  After all, impressions matter and we at Blvd 6 Salon strive to leave a lasting footprint that's positively beautiful.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>Marianne Rimawi</h2>
            <img src="../assets/images/marianne.jpg" alt="Marianne Rimawi" class="profile-pic left">
            <p>Marianne has been a hairstylist for over 20 years and a salon owner for the last decade.  Her latest creation, opening Blvd 6 Salon with Christopher Rey, is the most exciting addition on a spectacular career journey.  She has appeared on TV as a hair stylist, featured in magazines, and also taught her peers on stage and in salon.</p>
            <p>Marianne is a loving mother to her 11 year old son and her two fur babies.  She loves to explore California and the surrounding countries.  If and when she has free time, you can find her working out, having a relaxing treatment at the spa, or reading a book.</p>
        </div>
        <div class="col-md-6">
            <h2>Christopher Rey</h2>
            <img src="../assets/images/christopher.jpg" alt="Christopher Rey" class="profile-pic left">
            <p>Christopher Rey has over 15 years experience in the hair industry.  He specializes in helping clients achieve their hair goals and teaches them how to maintain their hair at home.  Christopher Rey is certified in four different techniques and has 12 years of experience in utilizing extensions to cultivate versatile hairstyles for day-to-night looks.  As a trained colorist, he has advanced experience working with red, blonde, and brunette hues.</p>
            <p>Living outside of the Valley, as a West Hollywood resident, Rey has a passion for personal fitness and good food.  He enjoys being a part of adrenaline pumping activities and participates in marathons and triathalons.</p>
        </div>
    </div>

    <hr>
    <h2 class="text-center">
        Additional Staff
    </h2>
    <div class="row text-center">
        <div class="col-md-6">
            <h4>
                <img class="profile-pic" src="../assets/images/traci.jpg" alt="Jaime"><br /> Jaime
            </h4>
        </div>
        <div class="col-md-6">
            <h4>
                <img class="profile-pic" src="../assets/images/tatiana.jpg" alt="Tatiana"><br /> Tatiana
            </h4>
        </div>
    </div>

    <hr>
</div>
<script>
    $(document).ready(function() {
        $("#iAbout").addClass("active");
    });
</script>