<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="#HomeDiv" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#AboutDiv" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#ServicesDiv" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="#ProductsDiv" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="#ContactDiv" class="nav-link">Contact Us</a></li>
        </ul>
    </div>
</nav>
=======
>>>>>>> Front-End
<div id="ServicesDiv" class="full-content">
    <p id="service-text">Full Brazilian Blow-Outs!</p>
</div>
<script>
    let svcImgs = [
        {
            title: 'Blow Dry!', 
            url: 'url("http://localhost:8080/assets/images/blowdry.jpg")'
        }, 
        {
            title: 'Color!',
            url: 'url("http://localhost:8080/assets/images/color2.jpg")',
        },
        {
            title: 'Men\'s Haircut!',
            url: 'url("http://localhost:8080/assets/images/MensHaircut.jpg")'
        }, 
        {
            title: 'Full Brazilian Blow-Outs!',
            url: 'url("http://localhost:8080/assets/images/stylists.jpg")'
        },
        {
            title: 'Special Occassion Up-Do!',
<<<<<<< HEAD
            url: 'url("http://localhost:8080/assets/images/updo.jpg")'
=======
            url: 'url("http://localhost:8080/assets/images/updo.png")'
>>>>>>> Front-End
        }
    ];

    $(document).ready(function () {
        setInterval(changeService, 3000);
<<<<<<< HEAD
=======

        $("#iHome").addClass("active");
>>>>>>> Front-End
    });

    function changeService() {
        let curImg = $("#service-text").html();
        let curImgIdx = svcImgs.map(function (e) {
            return e.title;
        }).indexOf(curImg);

        if (curImgIdx >= 0 && curImgIdx < svcImgs.length - 1) {
            let newIdx = curImgIdx + 1;

            $(".full-content").css("background", `no-repeat center/100% ${svcImgs[newIdx].url}`);
            $("#service-text").html(svcImgs[newIdx].title);
<<<<<<< HEAD
=======
			
            switch (svcImgs[newIdx].title) {
                case 'Men\'s Haircut!':
                    $("#service-text").css("color", "#FFF").css("text-shadow", "1px 1px 0 #b989bd");
                    break;
                case 'Blow Dry!':
                    $("#service-text").css("color", "#FFF").css("text-shadow", "1px 1px 0 #b989bd");
                    break;
                case 'Color!':
                    $("#service-text").css("color", "#000").css("text-shadow", "2px 1px 0 #f9bdf0");
                    break;
                case 'Full Brazilian Blow-Outs!':
                    $("#service-text").css("color", "#FFF").css("text-shadow", "2px 1px 0 #000");
                    break;
                case 'Special Occassion Up-Do!':
                    $("#service-text").css("color", "#FFF").css("text-shadow", "2px 1px 0 #b989bd");
                    break;
                default:
                    $("#service-text").css("color", "#FFF").css("text-shadow", "1px 1px 0 #b989bd");
                    break;
            }
>>>>>>> Front-End
        } else {
            $(".full-content").css("background", `no-repeat center/100% ${svcImgs[0].url}`);
            $("#service-text").html(svcImgs[0].title);

            curImgIdx = 0;
        }
    }
<<<<<<< HEAD

=======
>>>>>>> Front-End
</script>