body, html {
    height: 100%;
    margin-top: 45px;
}

.full-content {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: url('../images/blowdry.jpg') no-repeat; 
    background-size: 100%;
    /* margin-top: 90px; */
}

.products-content {
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: url('../images/ocean2.jpg') no-repeat; 
    background-size: 100%;
}

.contact-content {
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: url('../images/contact.jpg') no-repeat; 
    background-size: 100%;
}

.fc-mouseover {
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%) blur(1px);
    filter: gray;
}

#service-text {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #b989bd;
    margin-left: 125px;
    padding-top: 20px;
}

#nav-logo {
    width: 105px;
    height: 64px;
}

.jumbotron {
    margin-top: 2rem;
}

.profile-pic {
    border-radius: 100px;
    border: 4px solid gray;
}

.service-pic {
    border-radius: 120px;
    border: 2px solid rgb(53, 16, 72);
    width: 200px;
    height: 200px;
}

.product-pic {
    border-radius: 75px;
    border: 2px solid rgb(0, 0, 0);
    width: 150px;
    height: 150px;
}

.brand-pic {
    border-radius: 100px;
    border: 2px solid rgb(53, 16, 72);
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.right {
    float: right;
    margin-right: 1em;
}

.left {
    float: left;
    margin-right: 1em;
}

.about-us {
    font-family: Lobster, cursive;
}

.prod-row {
    /* margin: 0 1rem 0 1rem; */
    padding: 1rem 0 1rem 0;
}

#ProductBrandsDiv {
    padding-top: 10rem;    
}

.odds {
    background-color: #C1E5F7;
}

.evens {
    background-color: #E0EDF7;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    background:#E2E0E0;
    padding-top: 4px;
    z-index: 5;
}

.social-media-icon {
    width: 32px;
    height: 32px;
}

.footer-copyright {
    padding-top: 7px;
    font-size: 14px;
    font-family: 'Slabo 27px', serif;
}

.footer-address {
    padding-top: 6px;
    font-size: 16px;
    font-family: 'Slabo 27px', serif;
}

.label-short {
    color: #000;
    font-weight: bold;
}

.salon-box {
    color: #000;
    background-color: rgba(192, 192, 192, 0.5);
    font-weight: bold;
    /* margin-left: 15px; */
}

#map, #pano {
    padding-left: 0;
    float: left;
    height: 100%;
    min-width: 103%;
}

.contact-box {
    background-color: rgba(192, 192, 192, 0.5);
    /* margin-left: 15px; */
}

.map-div {
    padding-left: 1px !important;
}

ul .admin-ul {
    display: none;
}

#submitContact {
    cursor: pointer;
}

.card {
    margin-bottom: 45px;
}

#appoinment-span {
    width: 300px;
}